@model UniversityManagementSystemWebApplication.Models.ClassRoomAllocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ClassRoomAllocation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClassRoom.RoomNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassRoom.RoomNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Day.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Day.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeTo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ClassRoomAllocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
