@model IEnumerable<UniversityManagementSystemWebApplication.Models.Department>

@{
    ViewBag.Title = "Department Index";
    ViewBag.Active = "Department";
}

<h2>Department</h2>
<ul class="pager">
    <li class="previous">
    @Html.ActionLink("Create New Department", "Create")
    </li>
</ul>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartmentId })
        </td>
    </tr>
}

</table>
