@model UniversityManagementSystemWebApplication.Models.Teacher

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Teacher</legend>

        @Html.HiddenFor(model => model.TeacherId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractNo)
            @Html.ValidationMessageFor(model => model.ContractNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DesignationId, "Designation")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DesignationId", String.Empty)
            @Html.ValidationMessageFor(model => model.DesignationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentId, "Department")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DepartmentId", String.Empty)
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditToBeTaken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditToBeTaken)
            @Html.ValidationMessageFor(model => model.CreditToBeTaken)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
